 <div class="new_user">
    <div class="new_form">

        <h1>Nuevo Usuario</h1>

        <%= render 'form' %>

        <%= link_to 'Atras', '/sessions/index' %>
    </div>

    <div class="logo">
      <%= image_tag('registrarse.jpg') %>
    </div>
</div>