<h1>SocialSports</h1>
<p>La mejor forma de armar partidos</p>

<p>Proyecto realizado para la materia Proyecto Integrador 1</p>

<p>Realizado con</p>
<ul>
  <li>PHP ?????</li>
  <li>HTML5 ????</li>
  <li>Android ????</li>
  <li>Iphone ????</li>
  <li>BlackBerry ????</li>
  <li>Llamada a un Amigo ????</li>
  <li>Dejar a Hugo exponiendo solo ????</li>
</ul>

<ul>
  <li>Hugo</li>
  <li>Canadiense</li>
  <li>Carito </li>
</ul>

<h1>La magnifica Base de Dato</h1>
<table>
  <tr>
    <th colspan="3">Usuarios</th>
  </tr>
  <tr>
    <td>Nombre</td>
    <td>Cedula</td>
    <td>Reservas</td>

  </tr>
  <tr>
    <td>Duvis</td>
    <td>1234</td>
    <td>ayer a las 12</td>
  </tr>
  <tr>
    <td>Monda</td>
    <td>1234</td>
    <td>ayer a las 11</td>
  </tr>
</table>
