<h1>SocialSports</h1>
<p>La mejor forma de armar partidos</p>

Es un proyecto en el cual el usuario tendrá la capacidad de crear su perfil incluyendo determinadas características o atributos
el cual le permitirá encontrar el espacio y la personas necesarias para practicar su deporte preferido.

<p>SOCIAL SPORTS está dedicado a usuarios que les gusta practicar algún deporte y personas con la necesidad o deseo de encontrar el correcto  espacio para desarrollar dicha actividad.</p>

<p>Herramientas de desarrollo en las que está basado el proyecto:</p>

<li>Lenguaje de programación Ruby</li>
<li>Framework para desarrollo de páginas web Ruby on rails</li>
<li>Motor de base de datos SQLITE</li>
<li>Servidor utilizado en el desarrollo : webrick y apache</li>
<li>Lenguaje básico de la WWW en su versión 5 (html5)</li>
