
<div class="home">
    <div class="description">
        <h1>SocialSports</h1>
        <p>La mejor forma de armar partidos</p>
        <p>BIENVENIDO A SOCIAL SPORT.

          ESTAS CANSADO DE NO ENCONTRAR RESERVACIONES PARA JUGAR CON TUS AMIGOS… !!

          PLATAFORMA DEDICADA A FANATICOS DEL DEPORTE, EN LA CUAL PUEDES HACER TUS
          RESERVACIONES EN LA FECHA Y HORA QUE DESEES.
        </p>
    </div>
    <div class="logo">
       <%= image_tag('inicio.jpg') %>
    </div>

</div>