
<div class="home">
    <div class="description">

          <h1>Bienvenido a SOCIAL SPORTS!!</h1>
          <p>   Plataforma dedicada a fanáticos del deporte, en la
                cual puedes hacer tus reservaciones en la fecha, hora y deporte que desees y también
                puedes invitar a amigos. Sin duda, este tiene una serie de características que lo hace
                una de las herramientas para todo tipo de integración social.
          </p>

    </div>
    <div class="logo">
       <%= image_tag('inicio.jpg') %>
    </div>

</div>