// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content .home{
  width: 95%;
  margin: auto;
  font-family: sans-serif;
  font-style: italic;
}

#content .home .description{
  width: 50%;
  float: left;
  text-align: justify;
  font-size: 14px;
  font-family: sans-serif;
}

#content .home .logo{
  width: 40%;
  float: right;

}
